*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
}

body{
  overflow-x: hidden;
  width: 100vw;
  height: auto;
}

.App{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #21262d;
}

.search-container{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  background-color: #0c121e;
  border-radius: 5px;
  & h1{
    color: white;
    margin-bottom: 5%;
    font-size: 3rem;
  }

  & .search{
    display: flex;
    justify-content: center;
    height: 5rem;

      & input{
        width: 85.5%;
        margin-right: 1%;
        height: 3rem;
        font-size: 2rem;
        border-radius:7.5px 0 0 7.5px;
        border: 2.5px solid black;
        outline: .25rem solid #ccc;
      }
    
      & button{
        width: 13.5%;
        height: 3.25rem;
        font-size: 2rem;
        padding-bottom: .5rem;
        border-radius: 0 7.5px 7.5px 0;
        border: 2.5px solid black;
        background-color: white; 
        outline: .25rem solid #ccc;
        box-shadow: 1.25px 2.5px 9px #888;
        transition: all .25s;
        &:hover{
          cursor: pointer;
          border-radius: 7.5px;
          box-shadow: 2.5px 5px 9px #888;
          transform: scale(1.1);
        }
      }
  }
}

.users-container{
  width: 90%;
  display: flex;
  padding: 2.5rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  & .user-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 15%;
    min-height: 15rem;
    padding: 1rem;
    flex: 17.5%;
    margin: 2.5%;
    border-radius: 2.5px;
    outline: .5rem solid #ccc;
    background-color: #333;
    box-shadow: -5px -10px 18px #888;
    overflow: hidden;
    transition: all .5s;
    &:hover{
      transform: scale(1.05);
    }
    & h1{
      color: #d1d1d1;
      margin-bottom: 7.5%;
    }
    & img{
      width: 10rem;
      height: 10rem;
    }
  }
}

@media screen and (max-width: 1028px) {
  .users-container{
    & .user-container{
      flex: 33%;
    }
  }
}

@media screen and (max-width: 628px) {
  .users-container{
    & .user-container{
      flex: 100%;
    }
  }
}